h1 {background-color: bisque;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 1px 10px rgb(255, 255, 255);
    font-size: 50px;
    border-radius: 2px 4px 100px 100px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: rgb(255, 255, 255);
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 17px;
}

#eka {
    background-color: rgb(243, 255, 185);
    width: max-content;
    padding: 20px;
    text-align: center;
    border-radius: 1cm;
    border: 2px solid;
    border-color: rgb(255, 255, 255);
    text-shadow: 0px 1px 10px gray;

}

.palikka {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nimet{
    background-color: rgb(226, 255, 225);
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid;
    border-color: rgb(255, 255, 255);
}

#okei {
    list-style-type: none;
    text-shadow: 0px 1px 10px gray;
    font-size: 20px;
}

#okei li {
    cursor: pointer;
    transition: background-color 0.4s ease;
    text-align: left;
}

#okei li:hover {
    background-color: #3498db;
    color: white;
    text-align: right;
    text-shadow: 0px 1px 10px rgb(0, 0, 0);

}

body{
    background-color: rgb(22, 22, 22);
}

#tiedot{
    padding-top: 2px;
    background-color: rgb(211, 211, 255);
}

#movieList {
    list-style-type: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
}

#uusio {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    background-color: rgb(166, 213, 255);
    text-shadow: 0px 1px 10px rgb(255, 255, 255);

}

